.my_nav{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    background-color: rgb(255 255 255 / 78%) !important;
    backdrop-filter: blur(10px);
}
.main-header{
    background-image: url(img/Banner.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

.default-header{
    background-image: url(img/Banner.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 50px;

}

.header-text-holder, .subscribe-holder{

    text-align: center;
    color: bisque;
}
.default-header-text-holder{
    color: bisque;
}

.default-header-text-holder h1{
    font-size: 2em;
}
.home-body-content, .default-body-content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.default-body-content .list-group .list-group-item h3{
    color: red;
    font-size: 1.3em;

}

.default-body-content .list-group a{
    color: fuchsia;
}

.home-body-content .my_card{
    margin-bottom: 25px;
    transition-duration: 0.4s;
}
.my_card:hover{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    transition-duration: 0.4s;
}
.my_card h3 {
    font-size: 1.2em;
}

footer.main-footer {
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}