.my_nav{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    background-color: rgb(255 255 255 / 78%) !important;
    backdrop-filter: blur(10px);
}
.main-header{
    background-image: url(img/Banner.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

.header-text-holder, .subscribe-holder{

    text-align: center;
    color: bisque;
}

.home-body-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-body-content .my_card{
    margin-bottom: 25px;
    transition-duration: 0.4s;
}
.my_card:hover{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    transition-duration: 0.4s;
}
.my_card h3 {
    font-size: 1.2em;
}