.my_nav{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    background-color: rgb(255 255 255 / 78%) !important;
    backdrop-filter: blur(10px);
}
.main-header{
    background-image: url(img/Banner.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 100px;
}

.header-text-holder, .subscribe-holder{

    text-align: center;
    color: bisque;
}